@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Poppins:ital,wght@0,100;0,300;0,400;0,700;1,700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  background: #f9f9f9;
  min-height: 100vh;
  overflow-x: hidden;
  /* overflow-y: hidden; */
}
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px 100px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  z-index: 100;
}
.logo {
  font-family: "Rock Salt", cursive;
  font-size: 50px;
  color: #359381;
  pointer-events: none;
  margin-right: 270px;
}
.navigation a {
  color: #359381;
  padding: 6px 15px;
  border-radius: 20px;
  margin: 0 10px;
  font-weight: 600;
}
.navigation a:hover,
.navigation a.active {
  background-color: #359381;
  color: #ffff;
}

.parallax {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-bottom: 50px;
}

#text {
  position: absolute;
  font-size: 5em;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(1, 1, 1, 0.2);
}

.parallax img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  pointer-events: none;
}
.sec {
  position: relative;
  background-color: #003329;
  padding: 100px;
  min-height: 100vh;
}
.sec h2 {
  color: white;
  font-size: 3em;
}
.sec span {
  color: #359381;
}
.sec p {
  font-size: 1em;
  color: #fff;
  text-align: justify;
  font-weight: 300;
}
